<h2> Tell us about yourself</h2>
<div class="container-fluid">
  <form name="signupForm" class="form-horizontal" ng-submit="suCtrl.submit()"
          novalidate>
    <div class="form-group">
      <label for="firstName" class="col-sm-2 control-label">First Name</label>
      <div class="col-sm-3">
        <input type="text" id="firstName" name="firstName" class="form-control"
          placeholder="First Name" required
          ng-model="suCtrl.user.firstName"/>
      </div>
      <span ng-if="signupForm.firstName.$error.required && signupForm.firstName.$touched"
        class="ng-invalid">
        First Name is required
      </span>
    </div>

    <div class="form-group" >
      <label for="lastName" class="col-sm-2 control-label">Last Name</label>
      <div class="col-sm-3">
        <input type="text" id="lastName" name="lastName" class="form-control"
          placeholder="Last Name" required
          ng-model="suCtrl.user.lastName"/>
      </div>
      <span ng-if="signupForm.lastName.$error.required && signupForm.lastName.$touched"
        lass="ng-invalid">
        Last Name is required
      </span>
    </div>

    <div class="form-group">
      <label for="Email" class="col-sm-2 control-label">Email Address</label>
      <div class="col-sm-3">
        <input type="text" id="email" name="email" class="form-control"
          placeholder="Email Address" required pattern="[a-zA-Z0-9.]+@[a-zA-Z0-9.]+"
          ng-model="suCtrl.user.email"/>
      </div>
      <span ng-if="signupForm.email.$error.required  && signupForm.email.$touched"
        class="ng-invalid">
        Email Address is required
      </span>
      <span ng-if="signupForm.email.$invalid && signupForm.email.$touched"
        class="ng-invalid">
        Email address must be in username@domain format
      </span>
    </div>

    <div class="form-group">
      <label for="phoneNumber" class="col-sm-2 control-label">Phone</label>
      <div class="col-sm-3">
        <input type="text" id="phoneNumber" name="phoneNumber" class="form-control"
          placeholder="E.g 415-425-3344" required
          ng-model="suCtrl.user.phoneNumber" pattern="(\d{3})-(\d{3})-(\d{4})"/>
      </div>
      <span ng-if="signupForm.phoneNumber.$invalid  && signupForm.phoneNumber.$touched"
        class="ng-invalid"> Phone Number must be in XXX-XXX-XXXX format
      </span>
      <span ng-if="signupForm.phoneNumber.$error.required && signupForm.phoneNumber.$touched"
        class="ng-invalid"> Phone Number is required
      </span>
    </div>

    <div class="form-group">
      <label for="favItem" class="col-sm-2 control-label">Favorite Item</label>
      <div class="col-sm-3">
        <input type="text" id="favItem" name="favItem" class="form-control"
          placeholder="Favorite item name" required
          ng-model="suCtrl.user.favItem"/>
      </div>
      <span ng-if="signupForm.favItem.$error.required && signupForm.favItem.$touched"
        class="ng-invalid">
        Favorite Item Name is required
      </span>
      <span ng-if="!suCtrl.isFavItemValid"
        class="ng-invalid">
        Favorite Item Name is invalid
      </span>
    </div>

    <div class="checkbox col-sm-offset-2">
      <label>
        <input type="checkbox" ng-model="suCtrl.user.selectNewsletter"
          ng-checked="false"/>
          Sign me up for newsletter!
      </label>
    </div>

    <div class="col-sm-offset-2">
      <br />
      <button type="submit" class="btn btn-default"
          ng-disabled="signupForm.$invalid">Submit</button>
    </div>
  </form>

  <div class="col-sm-offset-2">
    <br />
    <span ng-if="suCtrl.atLeastOneSubmit && suCtrl.submitSucceeded">Thank you,
      {{suCtrl.submittedUser.firstName}}.
      Your information has been saved
    </span>
    <span ng-if="suCtrl.atLeastOneSubmit && !suCtrl.submitSucceeded">
      Not signed up yet. Sign up now!"
    </span>
  </div>
</div>
